.root {
  background-color: #012e58;
  width: 100%;
  margin: auto;
  height: 100%;
  align-items: center;
  color: white;
  font-weight: 600;
  margin-top: 6rem;
  padding: 10px 0;
}

.inner {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  cursor: default;
  flex: 1;
}