.viewCart {
    width: 150px;
    text-align: left;
    background: #f1921e;
    position: absolute;
    right: 0;
    top: 4px;
    /* top: 3px; */
    cursor: pointer;
}

.viewCart:before {
    content: "";
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid #9f5c07;
    border-bottom: 8px solid transparent;
    display: block;
    position: absolute;
    bottom: -8px;
    left: -8px;
    z-index: -1;
}

.viewCart:after {
    content: "";
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-top: 8px solid #9f5c07;
    border-bottom: 8px solid transparent;
    display: block;
    position: absolute;
    bottom: -8px;
    right: -8px;
    z-index: -1;
}

.viewCartAction {
    padding: 14px 10px;
    width: 100%;
}

.viewCartLabel {
    color: #012e58;
    text-transform: capitalize;
    font-size: 14px;
}