.row {
  background-color: #e6f2fe;
  padding-left: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2px;
  display: flex;
  justify-content: start;
}

.description h2 span {
  @apply text-3xl font-bold font-body !important;
}

.description h3 {
  @apply mt-8;
}

.description h3 span {
  @apply text-2xl font-black font-body !important;
}

.description p {
  @apply mt-4 !important;
}

.description ul {
  list-style: disc !important;
  margin-left: 2rem !important;
}

.descriptionBtn {
  border: 1px solid #e5e5e5;
  width: 121.25px;
  height: 43px;
}

.descriptionBtn:focus {
  color: white;
  font-weight: 600;
  background-color: #012e58;
  width: 121.25px;
  height: 43px;
}

.specBtn {
  border: 1px solid #e5e5e5;
  width: 121.25px;
  height: 43px;
}

.specBtn:focus {
  color: white;
  font-weight: 600;
  background-color: #012e58;
  width: 121.25px;
  height: 43px;
}

.left {
  width: 25%;
  font-weight: 600;
}

.right {
  width: 75%;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
}
