.root {
  /* min-width: 200px; */
  width: 90% !important;
  margin: auto;

  @laptop {
    width: auto;
  }
}

.overlay {
  opacity: 0;
  display: flex;
  position: absolute;
  width: 90%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.overlay:hover {
  opacity: 1;
}

.image {
  height: 280px;
  padding: 15px;
  cursor: pointer;
}

.image img {
  height: 100%;
  margin: auto;
  padding: 0 !important;
  width: auto !important;
  height: auto !important;
  min-height: auto !important;
  min-width: auto !important;
  max-height: 150px !important;

  @screen laptop {
    max-height: 90% !important;
    min-width: 150px !important;
    min-height: auto !important;
    padding: 10% !important;
  }
}
