.root {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-bottom: 5rem;
  margin-top: 4rem;
}

.figure {
  height: 500px;
  overflow: hidden;
  background-repeat: no-repeat;
}

.figure:hover img {
  opacity: 0;
}

.img {
  display: block;
  /* width: 100%; */
  pointer-events: none;
  margin: auto;
  max-height: 100%;
  /* padding: 20% 0px; */
  width: auto;
}

.left {
  width: 46%;
  overflow: hidden;
  padding-top: 2rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}

.paymentLeft {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
}

.paymentRight {
  margin-top: 4rem;
}

.product {
  margin-right: 1rem;
  /* width: 90%; */
  border: 1px solid #e5e5e5;
  /* padding: 4px; */
  box-sizing: content-box;
  cursor: pointer;
}

.social {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  width: 7rem;
}

.right {
  width: 50%;
}

.counter {
  display: flex;
  justify-content: space-between;
  width: 6rem;
  margin-top: 0.6rem;
  margin-bottom: 2rem;
}

.addBtn {
  background-color: #012e58;
  width: 167px;
  height: 44px;
  color: white;
  text-transform: uppercase;
}

.wishBtn {
  border: 2px solid #012e58;
  width: 226px;
  height: 44px;
  margin-left: 1rem;
  text-transform: uppercase;
}

.paymentContainer {
  display: flex;
  justify-content: center;
}

.colorBtn:active, .colorBtn:focus {
  border: none !important;
}

.colorBtn:focus {
  outline: 0 !important;
}
