.flexContainer {
  display: flex;
  margin-bottom: 0.5rem;
}

.checkOutBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #444;
  border-color: #444;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  width: 8rem;
  height: 2.5rem;
  margin-right: 1rem;
}

.viewCartBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-radius: 3px;
  width: 8rem;
  height: 2.5rem;
}

.dropdownContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid #cccccc;
  padding: 1rem 2rem;
  margin-top: 2.3rem;
  z-index: 5;
  left: auto;
  right: 0;
}
